rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId}/media/{mediaId} {
      allow read, create, update, delete:
        if request.auth != null
        && request.auth.uid == userId
        && (
          request.method == 'delete'
          || (
            request.resource.data.userId == userId
            && request.resource.data.id == mediaId
            && request.resource.data.status in ['processing', 'success', 'error', 'deleted']
          )
        );
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
